body {
    /*background-image: url("https://images2.alphacoders.com/735/735944.jpg");*/
    background-image: url("https://images7.alphacoders.com/303/303042.png");
    /*background-color: #783c3c;*/
}
p{
    color: aqua;
}
h5{
    color: #acbcc7;
}

/*<link href="style/style.css" rel="stylesheet">*/