<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:fragment="header-css">
        <title>CulinaryPortal</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/carousel/">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/carousel.css}"/>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
    </head>
</head>

<body>


<header>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
        <a class="navbar-brand" href="#"><i class="fas fa-blender"> CulinaryPortal</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/public/about}"> <i class="far fa-address-card"> About us </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/public/cookingrecipes}"> <i class="far fa-address-card"> Cooking
                        recipes </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/public/signin}"> <i class="fas fa-sign-in-alt">
                        Authorization </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/public/signinn}"> <i class="fas fa-sign-in-alt">
                        Registration </i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

</div>
<!--???-->
<style>
    body {
        background-image: url("https://images.alphacoders.com/120/120321.jpg");
        background-attachment: fixed;
        background-size: 2100px 1600px;
    }
</style>


<html>

<body>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Enter a message" />
        <input type="text" name="tag" placeholder="Tag">
        <button type="submit">Add</button>
    </form>
</div>
<div>Message list</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">To find</button>
</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}
</body>
</body>
</html>