<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:fragment="header-css">
        <title>CulinaryPortal</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/carousel/">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/carousel.css}"/>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"/>
    </head>
</head>

<body>




<header>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
        <a class="navbar-brand" href="#"><i class="fas fa-blender"> CulinaryPortal</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}"><i class="fas fa-home"> Home</i><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}"> <i class="far fa-address-card"> About us </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/CookingRecipes}"> <i class="far fa-address-card"> Cooking recipes </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/forum}"> <i class="far fa-address-card"> Forum </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/video}"> <i class="far fa-address-card"> Video </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}"> <i class="fas fa-sign-in-alt"> Sign In </i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}"> <i class="fas fa-sign-in-alt"> Sign Up </i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    .accordion {
        background-color: #3e3c3c;
        color: #ffffff;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: #565555;
        overflow: hidden;
    }
</style>




<section class="py-5 text-black text-center container font-weight-bold">
    <div class="cont. row py-lg-5">
        <div class="col-lg-14 col-md-10 mx-auto">
            <h1 class="fw-black"><b><big>Here you can find what you like to view</big></b></h1>
        </div>
    </div>
</section>

<button class="accordion text-center ">MasterChef</button>
<div class="panel">
<button class="accordion text-center ">Season 1</button>
<div class="panel">
    <p><a href="https://www.youtube.com/watch?v=MaK3jbkwI9o&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=1" target="_blank">Issue 1</a></p>
    <p><a href="https://www.youtube.com/watch?v=zHEWdqyDIQE&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=2" target="_blank">Issue 2</a></p>
    <p><a href="https://www.youtube.com/watch?v=-Mv-aL9lu5w&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=3" target="_blank">Issue 3</a></p>
    <p><a href="https://www.youtube.com/watch?v=Z4jFXkhotvE&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=4" target="_blank">Issue 4</a></p>
    <p><a href="https://www.youtube.com/watch?v=hSiRPD1yWeM&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=5" target="_blank">Issue 5</a></p>
    <p><a href="https://www.youtube.com/watch?v=KagjYS5sbnA&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=6" target="_blank">Issue 6</a></p>
    <p><a href="https://www.youtube.com/watch?v=5OMxY-Q7PqE&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=7" target="_blank">Issue 7</a></p>
    <p><a href="https://www.youtube.com/watch?v=tpuU3jC1kb0&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=8" target="_blank">Issue 8</a></p>
    <p><a href="https://www.youtube.com/watch?v=f07irto_H5E&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=9" target="_blank">Issue 9</a></p>
    <p><a href="https://www.youtube.com/watch?v=OgIOX7vDxBk&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=10" target="_blank">Issue 10</a></p>
    <p><a href="https://www.youtube.com/watch?v=xLNyzu-cDvY&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=11" target="_blank">Issue 11</a></p>
    <p><a href="https://www.youtube.com/watch?v=npnhvIbr_ps&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=12" target="_blank">Issue 12</a></p>
    <p><a href="https://www.youtube.com/watch?v=90lW149xOC0&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=13" target="_blank">Issue 13</a></p>
    <p><a href="https://www.youtube.com/watch?v=MwsA23AFEJI&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=14" target="_blank">Issue 14</a></p>
    <p><a href="https://www.youtube.com/watch?v=8-yXppEXqak&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=15" target="_blank">Issue 15</a></p>
    <p><a href="https://www.youtube.com/watch?v=4HVaR80T3NI&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=16" target="_blank">Issue 16</a></p>
    <p><a href="https://www.youtube.com/watch?v=2jiuwNKzg5I&list=PLulhhfF73uBiMyHk4p94Qkp0wQp4Tg1mG&index=17" target="_blank">Issue 17</a></p>
</div>

<button class="accordion text-center ">Season 2</button>
    <div class="panel">
    <p><a href="https://www.youtube.com/watch?v=F8yGDtzl8nc&list=PLulhhfF73uBh8WsDuBaMAnyWCLa1T00x4&index=1" target="_blank">Issue 1</a></p>
    <p><a href="https://www.youtube.com/watch?v=0wUU8OmEtrE&list=PLulhhfF73uBh8WsDuBaMAnyWCLa1T00x4&index=2" target="_blank">Issue 2</a></p>
    <p><a href="https://www.youtube.com/watch?v=wLtRV5IbJYY&list=PLulhhfF73uBh8WsDuBaMAnyWCLa1T00x4&index=3" target="_blank">Issue 5</a></p>
    <p><a href="https://www.youtube.com/watch?v=w0lMcXub-Ko&list=PLulhhfF73uBh8WsDuBaMAnyWCLa1T00x4&index=4" target="_blank">Issue 6</a></p>
    <p><a href="https://www.youtube.com/watch?v=L7Kdh-Uw_GQ&list=PLulhhfF73uBh8WsDuBaMAnyWCLa1T00x4&index=5" target="_blank">Issue 7</a></p>
    <p><a href="https://www.youtube.com/watch?v=rdOvws-LmUA&list=PLulhhfF73uBh8WsDuBaMAnyWCLa1T00x4&index=6" target="_blank">Issue 11</a></p>
    <p><a href="https://www.youtube.com/watch?v=Lr7dTHtEy3w&list=PLulhhfF73uBh8WsDuBaMAnyWCLa1T00x4&index=7" target="_blank">Issue 12</a></p>
    <p><a href="https://www.youtube.com/watch?v=gDIDxh6CqqU&list=PLulhhfF73uBh8WsDuBaMAnyWCLa1T00x4&index=8" target="_blank">Issue 13</a></p>
    <p><a href="https://www.youtube.com/watch?v=Hmk5s-mXQx8&list=PLulhhfF73uBh8WsDuBaMAnyWCLa1T00x4&index=9" target="_blank">Issue 16</a></p>
    <p><a href="https://www.youtube.com/watch?v=A71N5qpHgcQ&list=PLulhhfF73uBh8WsDuBaMAnyWCLa1T00x4&index=10" target="_blank">Issue 17</a></p>
</div>

    <button class="accordion text-center ">Season 3</button>
    <div class="panel">
        <p><a href="https://www.youtube.com/watch?v=R87mZYvQcDI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=1" target="_blank">Issue 4</a></p>
        <p><a href="https://www.youtube.com/watch?v=GdXoHnQEG24&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=2" target="_blank">Issue 5</a></p>
        <p><a href="https://www.youtube.com/watch?v=eWRVGgab3eU&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=3" target="_blank">Issue 6</a></p>
        <p><a href="https://www.youtube.com/watch?v=pecDeuHALIc&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=4" target="_blank">Issue 7</a></p>
        <p><a href="https://www.youtube.com/watch?v=KFc9kq_9lpI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=5" target="_blank">Issue 9</a></p>
        <p><a href="https://www.youtube.com/watch?v=sA4nEQDHyU4&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=6" target="_blank">Issue 15</a></p>
        <p><a href="https://www.youtube.com/watch?v=9NvOBjNgsWM&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=7" target="_blank">Issue 16</a></p>
        <p><a href="https://www.youtube.com/watch?v=9lMjeDtbDKs&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=8" target="_blank">Issue 17</a></p>
    </div>

    <button class="accordion text-center ">Season 4</button>
    <div class="panel">
        <p><a href="https://www.youtube.com/watch?v=iuiwK8_I7PI&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=1" target="_blank">Issue 1</a></p>
        <p><a href="https://www.youtube.com/watch?v=EKa5TVtobnQ&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=2" target="_blank">Issue 2</a></p>
        <p><a href="https://www.youtube.com/watch?v=mq7gT1EuGPA&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=3" target="_blank">Issue 3</a></p>
        <p><a href="https://www.youtube.com/watch?v=PULbs6d1_Yg&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=4" target="_blank">Issue 4</a></p>
        <p><a href="https://www.youtube.com/watch?v=i_J454wNY6Q&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=5" target="_blank">Issue 5</a></p>
        <p><a href="https://www.youtube.com/watch?v=l9zzRiLVU0o&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=6" target="_blank">Issue 6</a></p>
        <p><a href="https://www.youtube.com/watch?v=uIz11pTYMrA&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=7" target="_blank">Issue 7 part 1</a></p>
        <p><a href="https://www.youtube.com/watch?v=P_KD6Qa19_4&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=8" target="_blank">Issue 7 part 2</a></p>
        <p><a href="https://www.youtube.com/watch?v=-hdnE_VDyCA&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=9" target="_blank">Issue 8</a></p>
        <p><a href="https://www.youtube.com/watch?v=1cFFLOCR74Q&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=10" target="_blank">Issue 9 part 1</a></p>
        <p><a href="https://www.youtube.com/watch?v=IsKbEveGkmU&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=11" target="_blank">Issue 9 part 2</a></p>
        <p><a href="https://www.youtube.com/watch?v=eeS436Zp7Vs&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=12" target="_blank">Issue 10</a></p>
        <p><a href="https://www.youtube.com/watch?v=M5A88wUvpsY&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=13" target="_blank">Issue 11</a></p>
        <p><a href="https://www.youtube.com/watch?v=qI-JRUGIch4&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=14" target="_blank">Issue 12</a></p>
        <p><a href="https://www.youtube.com/watch?v=G3WrpITTtag&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=15" target="_blank">Issue 13</a></p>
        <p><a href="https://www.youtube.com/watch?v=90btoslriok&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=16" target="_blank">Issue 14</a></p>
        <p><a href="https://www.youtube.com/watch?v=6wxUe3q_7Yg&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=17" target="_blank">Issue 15</a></p>
        <p><a href="https://www.youtube.com/watch?v=ZKduUW1y8BA&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=18" target="_blank">Issue 16</a></p>
        <p><a href="https://www.youtube.com/watch?v=SE1bZEhS_nI&list=PLulhhfF73uBiBdRoxHVBk5-Sp1_JpiMYq&index=19" target="_blank">Issue 17</a></p>
    </div>

    <button class="accordion text-center ">Season 5</button>
    <div class="panel">
        <p><a href="https://www.youtube.com/watch?v=R87mZYvQcDI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=1" target="_blank">Issue 4</a></p>
        <p><a href="https://www.youtube.com/watch?v=GdXoHnQEG24&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=2" target="_blank">Issue 5</a></p>
        <p><a href="https://www.youtube.com/watch?v=eWRVGgab3eU&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=3" target="_blank">Issue 6</a></p>
        <p><a href="https://www.youtube.com/watch?v=pecDeuHALIc&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=4" target="_blank">Issue 7</a></p>
        <p><a href="https://www.youtube.com/watch?v=KFc9kq_9lpI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=5" target="_blank">Issue 9</a></p>
        <p><a href="https://www.youtube.com/watch?v=sA4nEQDHyU4&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=6" target="_blank">Issue 15</a></p>
        <p><a href="https://www.youtube.com/watch?v=9NvOBjNgsWM&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=7" target="_blank">Issue 16</a></p>
        <p><a href="https://www.youtube.com/watch?v=9lMjeDtbDKs&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=8" target="_blank">Issue 17</a></p>
    </div>

    <button class="accordion text-center ">Season 6</button>
    <div class="panel">
        <p><a href="https://www.youtube.com/watch?v=R87mZYvQcDI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=1" target="_blank">Issue 4</a></p>
        <p><a href="https://www.youtube.com/watch?v=GdXoHnQEG24&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=2" target="_blank">Issue 5</a></p>
        <p><a href="https://www.youtube.com/watch?v=eWRVGgab3eU&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=3" target="_blank">Issue 6</a></p>
        <p><a href="https://www.youtube.com/watch?v=pecDeuHALIc&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=4" target="_blank">Issue 7</a></p>
        <p><a href="https://www.youtube.com/watch?v=KFc9kq_9lpI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=5" target="_blank">Issue 9</a></p>
        <p><a href="https://www.youtube.com/watch?v=sA4nEQDHyU4&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=6" target="_blank">Issue 15</a></p>
        <p><a href="https://www.youtube.com/watch?v=9NvOBjNgsWM&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=7" target="_blank">Issue 16</a></p>
        <p><a href="https://www.youtube.com/watch?v=9lMjeDtbDKs&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=8" target="_blank">Issue 17</a></p>
    </div>

    <button class="accordion text-center ">Season 7</button>
    <div class="panel">
        <p><a href="https://www.youtube.com/watch?v=R87mZYvQcDI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=1" target="_blank">Issue 4</a></p>
        <p><a href="https://www.youtube.com/watch?v=GdXoHnQEG24&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=2" target="_blank">Issue 5</a></p>
        <p><a href="https://www.youtube.com/watch?v=eWRVGgab3eU&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=3" target="_blank">Issue 6</a></p>
        <p><a href="https://www.youtube.com/watch?v=pecDeuHALIc&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=4" target="_blank">Issue 7</a></p>
        <p><a href="https://www.youtube.com/watch?v=KFc9kq_9lpI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=5" target="_blank">Issue 9</a></p>
        <p><a href="https://www.youtube.com/watch?v=sA4nEQDHyU4&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=6" target="_blank">Issue 15</a></p>
        <p><a href="https://www.youtube.com/watch?v=9NvOBjNgsWM&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=7" target="_blank">Issue 16</a></p>
        <p><a href="https://www.youtube.com/watch?v=9lMjeDtbDKs&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=8" target="_blank">Issue 17</a></p>
    </div>

    <button class="accordion text-center ">Season 8</button>
    <div class="panel">
        <p><a href="https://www.youtube.com/watch?v=R87mZYvQcDI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=1" target="_blank">Issue 4</a></p>
        <p><a href="https://www.youtube.com/watch?v=GdXoHnQEG24&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=2" target="_blank">Issue 5</a></p>
        <p><a href="https://www.youtube.com/watch?v=eWRVGgab3eU&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=3" target="_blank">Issue 6</a></p>
        <p><a href="https://www.youtube.com/watch?v=pecDeuHALIc&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=4" target="_blank">Issue 7</a></p>
        <p><a href="https://www.youtube.com/watch?v=KFc9kq_9lpI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=5" target="_blank">Issue 9</a></p>
        <p><a href="https://www.youtube.com/watch?v=sA4nEQDHyU4&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=6" target="_blank">Issue 15</a></p>
        <p><a href="https://www.youtube.com/watch?v=9NvOBjNgsWM&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=7" target="_blank">Issue 16</a></p>
        <p><a href="https://www.youtube.com/watch?v=9lMjeDtbDKs&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=8" target="_blank">Issue 17</a></p>
    </div>

    <button class="accordion text-center ">Season 9</button>
    <div class="panel">
        <p><a href="https://www.youtube.com/watch?v=R87mZYvQcDI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=1" target="_blank">Issue 4</a></p>
        <p><a href="https://www.youtube.com/watch?v=GdXoHnQEG24&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=2" target="_blank">Issue 5</a></p>
        <p><a href="https://www.youtube.com/watch?v=eWRVGgab3eU&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=3" target="_blank">Issue 6</a></p>
        <p><a href="https://www.youtube.com/watch?v=pecDeuHALIc&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=4" target="_blank">Issue 7</a></p>
        <p><a href="https://www.youtube.com/watch?v=KFc9kq_9lpI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=5" target="_blank">Issue 9</a></p>
        <p><a href="https://www.youtube.com/watch?v=sA4nEQDHyU4&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=6" target="_blank">Issue 15</a></p>
        <p><a href="https://www.youtube.com/watch?v=9NvOBjNgsWM&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=7" target="_blank">Issue 16</a></p>
        <p><a href="https://www.youtube.com/watch?v=9lMjeDtbDKs&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=8" target="_blank">Issue 17</a></p>
    </div>

    <button class="accordion text-center ">Season 10</button>
    <div class="panel">
        <p><a href="https://www.youtube.com/watch?v=R87mZYvQcDI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=1" target="_blank">Issue 4</a></p>
        <p><a href="https://www.youtube.com/watch?v=GdXoHnQEG24&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=2" target="_blank">Issue 5</a></p>
        <p><a href="https://www.youtube.com/watch?v=eWRVGgab3eU&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=3" target="_blank">Issue 6</a></p>
        <p><a href="https://www.youtube.com/watch?v=pecDeuHALIc&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=4" target="_blank">Issue 7</a></p>
        <p><a href="https://www.youtube.com/watch?v=KFc9kq_9lpI&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=5" target="_blank">Issue 9</a></p>
        <p><a href="https://www.youtube.com/watch?v=sA4nEQDHyU4&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=6" target="_blank">Issue 15</a></p>
        <p><a href="https://www.youtube.com/watch?v=9NvOBjNgsWM&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=7" target="_blank">Issue 16</a></p>
        <p><a href="https://www.youtube.com/watch?v=9lMjeDtbDKs&list=PLulhhfF73uBiiFf-3j6xuWLQzPQc0Gzrk&index=8" target="_blank">Issue 17</a></p>
    </div>

</div>




<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>



    <footer class="my-5 pt-5 text-black text-center text-small">
        <p class="mb-1">© 2021 Culinary portal</p>
        <ul class="list-inline">
        </ul>
    </footer>

</body>
</html>