<div th:fragment="header">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class = "container">

            <a class="navbar-brand" href="#"><i class="fas fa-blender"> CulinaryPortal</i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/public/home}"><i class="fas fa-home"> Home</i><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/public/aboutus}"> <i class="fas fa-file-signature"> About us </i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/public/signin}"> <i class="fas fa-sign-in-alt"> Authorization </i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/public/signin}"> <i class="fas fa-sign-in-alt"> Registration </i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>